@page
@model Test.Pages.Index1Model
@{
    ViewData["Title"] = "Group Details";
}
<div class="container-md">
    <h5 class="head">Group Details</h5>
  <div class="row noMargin">
        <div class="col one rounded" style="background-color:#FFC93C;padding:20px">
                <h5 class="head">Group</h5>
                    <div class="para">
                        <p>ID:</p>
                        <p>Parent:</p>
                        <p>PfP:</p>
                        <p>Profit Share:</p>
                    </div>
                <h5 class="head">Members</h5>
                    <div class="para">
                        <p>Name:</p>
                        <p>PfP:</p>
                    </div>
            </div>
  </div>
</div>